*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: yellow;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 6800px;

}
.header, .main, .main__goal, .main__develop, .main__events, .main__join{
    width: 90%;
}
img{
    background-size: contain;
    background-repeat: no-repeat;
}
.header{
    background: url(police.jpg);
    background-repeat: no-repeat;
    height: 220px;
    background-size: contain;
}
.header__content{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(0, 0, 0, 0.5) ;
}
.header__menu, .header__logo{
    width: 50px;
    height: 50px;
}
.header__h{
    width: 50%;
    font-size: xx-large;
    color: white;
}
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 4000px;
    background-color: darkred;
}
.main__goal{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex-direction: column;
    height: 150px;
}
.goal__h{
    width: 90%;
    color: red;
}
.goal__text{
    width: 100%;
}
.main__develop{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 2520px;
}
.develop__h{
    width: 90%;
    color: red;
    height: 50px;
}
.develop__h:nth-child(1){
    font-size: 50px;
    height: auto;
}
.develop__text{
    width: 100%;
}
.main__events{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 500px;
}
.events__h{
    font-size: xx-large;
    color: red;
    height: 20%;
}
.events__list{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list__item{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 400px;
    background: url(clyatba.jpg);
    flex-direction: column;
    background-size: cover;
    background-color: black;
    height: 400px;   
}
.list__more{
    width: 90%;
    height: 10%;
    color: yellow;
    text-decoration: underline red;
}
.list__h{
    font-size: x-large;
    width: 90%;
    height: 20%;
}
.main__join{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 600px;
}
.join__button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 100%;
}
.button__link{
    color: yellow;
    font-size: x-large;
    text-decoration: none;
}
.join__h{
    width: 100%;
    height: 10%;
    font-size: xx-large;
}
.join__text{
    font-size: large;
}
.goal__h, .develop__h{
    font-size: x-large;
}